[submodule "GolfExample_TCAPI/scripts/TinCanDriver"]
	path = GolfExample_TCAPI/scripts/TinCanDriver
	url = git@github.com:RusticiSoftware/TinCanDriver
[submodule "JsTetris_TCAPI/TinCanDriver"]
	path = JsTetris_TCAPI/TinCanDriver
	url = git@github.com:RusticiSoftware/TinCanDriver
[submodule "Locator_TCAPI/scripts/TinCanDriver"]
	path = Locator_TCAPI/scripts/TinCanDriver
	url = git@github.com:RusticiSoftware/TinCanDriver
[submodule "ReportSample/scripts/TinCanDriver"]
	path = ReportSample/scripts/TinCanDriver
	url = git@github.com:RusticiSoftware/TinCanDriver
[submodule "StatementViewer/resources"]
	path = StatementViewer/resources
	url = git@github.com:RusticiSoftware/TinCanStatementViewer
