[submodule "JsTetris_TCAPI/TinCanDriver"]
	path = JsTetris_TCAPI/TinCanDriver
	url = git://github.com/RusticiSoftware/TinCanDriver.git
[submodule "Locator_TCAPI/scripts/TinCanDriver"]
	path = Locator_TCAPI/scripts/TinCanDriver
	url = git://github.com/RusticiSoftware/TinCanDriver.git
[submodule "ReportSample/scripts/TinCanDriver"]
	path = ReportSample/scripts/TinCanDriver
	url = git://github.com/RusticiSoftware/TinCanDriver.git
[submodule "StatementViewer/resources"]
	path = StatementViewer/resources
	url = git://github.com/RusticiSoftware/TinCanStatementViewer.git
[submodule "StatementViewer/TinCanJS"]
	path = StatementViewer/TinCanJS
	url = git://github.com/RusticiSoftware/TinCanJS.git
[submodule "GolfExample_TCAPI/scripts/TinCanJS"]
	path = GolfExample_TCAPI/scripts/TinCanJS
	url = git://github.com/RusticiSoftware/TinCanJS.git
