//globals: equal, responseText, statement, ok, deepEqual, QUnit, module, asyncTest, Util, start, golfStatements, console
/*jslint bitwise: true, browser: true, plusplus: true, maxerr: 50, indent: 4 */
function Config() {
	"use strict";
}
Config.endpoint = "[TCAPI endpoint]";
Config.authUser = "testuser2.autotest@scorm.example.com";
Config.authPass = "password";
Config.timeout = 5000;
Config.retries = 3;

//OAuth consumer
Config.testConsumer = { consumerKey: "com.scorm/testProvider", consumerSecret : "secret key"};
Config.testUnregisteredConsumer = { consumerKey: "com.scorm/unregistered", consumerSecret : "", consumer_name : "Test Unregistered Application"};

// Use "IE" version of API even if not required for the browser running the tests
Config.forceIEMode = false;
